@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    --main-color: #ff8300;
    --secondary-color: #c76700;
    --background-color: white;
    --table-color: black;
    --header-color: #f2f2f2;
    --table-secondary-color: #f2f2f2;

    background-color: var(--background-color);
    transition: 0.1s;
}

body.dark {
    --main-color: #fd8306;
    --secondary-color: #c76700;
    --background-color: #16242f;
    --table-color: #f2f2f2;
    --header-color: var(--background-color);
    --table-secondary-color: #767a7d;
}

#logo {
    float: left;
    cursor: pointer;
}

#search {
    margin: auto;
    display: block;
    width: 24rem;
}

#top-bar {
    margin: 10px 0px 14px 0;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#schedule {
    width: 100%;
    margin: 0 0 10px 0;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    background: var(--main-color);
    color: var(--background-color);
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 0.2rem 0;
    transition: all 0.3s ease;
}

#schedule:hover {
    cursor: pointer;
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

#assignmentsTable {
    border-collapse: collapse;
    width: 100%;
}

#assignmentsTable td, #assignmentsTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#assignmentsTable th {
    transition: all 0.3s ease;
}

#assignmentsTable th:hover {
    background: var(--secondary-color);
}

#assignmentsTable tr:nth-child(even) {
    background-color: var(--table-secondary-color);
}

#assignmentsTable tr:hover {
    background-color: #bebebe;
    color: var(--background-color);
}

#assignmentsTable th {
    padding: 8px 18px;
    text-align: center;
    background-color: var(--main-color);
    color: var(--header-color);
}

#assignmentsTable tbody {
    color: var(--table-color);
}

.title, .subject {
    text-align: center;
}

.more-info-button {
    all: unset
}

.more-info { /* '+' sign */
    text-align: center;
    font-size: large;
    font-weight: 600;
    color: var(--main-color);
}

#credits {
    margin-top: 10px;
    text-align: center;
    color: var(--table-color);
}

.more-info {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal.announcement {
    background: var(--main-color);
    color: white;
    width: fit-content;
    height: fit-content;
}

.modal.announcement .close-button {
    color: white;
}

.modal-header {
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 5px 10px 10px 10px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 5rem;
    height: 5rem;
    margin: -48px 0 0 -48px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--main-color);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
    width: 2vw;
    height: 1.8vh;
    background: var(--table-secondary-color);
}
  
::-webkit-scrollbar-track {
    border-radius: 5px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--main-color); 
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
}